.our-team {
  background-color:$address-footer-color;
  padding-bottom: 94px;
  padding-top: 94px;
}
.list-command { 
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
  &__list{
  background: $logo-footer-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
  &__list .list-staff__name {
  margin-top: 0;
  text-align: center;
  color:   $primary-text-color;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
}
.list-command p { 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
   color:  $title-text-paragraph;
   /* margin-top: 10px; */
   font-size: 16px;
   line-height: 1.19;
  }

.list-staff{
  padding: 30px 32px;
 }
 /* icon */
 .list-media{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
  
   &__list{
  width: 44px;
  height: 44px;
  }
    &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    display: block;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   &__link:hover,
   &__link:focus {
    background-color: $accent-color;
    fill: var(--logo-footer-color);
  }
  &__icon{
      margin: 12px 0 0 12px;
      text-align: center;
      justify-content: center;
        width: 20px;
        height: 20px;
      }
}